{% unless current_collection %}
    {% assign current_collection = collection %}
{% endunless %}

{% assign unavailable = false %}
{% assign sold_out = false %}

{% if product.buyable and product.in_stock != true %}
    {% assign sold_out = true %}
{% endif %}

{% if product.buyable != true  %}
    {% assign unavailable = true %}
{% endif %}

<div class="col-12 col-sm-6 col-md-4 col-lg-3 card-container">
    <div class="card border-gray-200">
        <div class="card-body">
            {% include 'bootstrap-migration/shared/item-response-group' %}
            {% include 'bootstrap-migration/product/item/image' %}
            {% include 'bootstrap-migration/product/compare' %}
            {% include 'bootstrap-migration/product/item/title-and-codes' %}

            {% if product.product_type == "Configurable" %}
                {% include 'bootstrap-migration/product/type/configured/item-price' %}
                {% include 'bootstrap-migration/product/type/configured/item-configure-button' %}
            {% else %}
            <ng-controller ng-controller="commonProductCardController">
                {% include 'bootstrap-migration/product/price' column: true, show_each: true %}
                {% include 'bootstrap-migration/product/quantity' %}
            </ng-controller>
            {% endif %}
        </div>
    </div>
    {% include 'bootstrap-migration/product/item/script' %}
</div>
