{% unless current_collection %}
    {% assign current_collection = collection %}
{% endunless %}

{% assign unavailable = false %}
{% assign sold_out = false %}

{% if product.buyable and product.in_stock != true %}
    {% assign sold_out = true %}
{% endif %}

{% if product.buyable != true  %}
    {% assign unavailable = true %}
{% endif %}

<div class="row align-items-center">
    <div class="col-md-2">
        {% include 'bootstrap-migration/shared/item-response-group' %}
        {% include 'bootstrap-migration/product/item/image' %}
        {% include 'bootstrap-migration/product/compare' %}
    </div>
    <div class="col-md-5">
        {% include 'bootstrap-migration/product/item/title-and-codes' %}
    </div>
    <div class="col-md-5" ng-controller="commonProductCardController">
        <div class="row">
            {% if product.product_type == "Configurable" %}
                <div class="col-md-4">{% include 'bootstrap-migration/product/type/configured/item-price' %}</div>
                <div class="col-md-8">{% include 'bootstrap-migration/product/type/configured/item-configure-button' %}</div>
            {% else %}
                <div class="col-md-4">{% include 'bootstrap-migration/product/price' column: true %}</div>
                <div class="col-md-8">
                    {% include 'bootstrap-migration/product/quantity' show_label: true label_bold: true %}
                </div>
            {% endif %}
        </div>
    </div>
    <div class="col-12">
        <div class="w-100 border-bottom mt-2 mb-4"></div>
    </div>

    {% include 'bootstrap-migration/product/item/script' %}
</div>
