
<div class="d-flex justify-content-between {% if column %}flex-column mb-2{% endif %}">
    <div class="font-weight-bold">
        <span class="text-helvetica {% if variation_price %}font-weight-normal text-uppercase text-muted{% endif %}">
            {% if customer %}
                {{ 'products.price.private' | t }}
            {% else %}
                {{ 'products.price.public' | t }}
            {% endif %}
        </span>
    </div>

    <div>
        <span class="{% if variation_price != true %}text-dark-green{% endif %}">
            {% if variant != null %}
                {% assign productOrVariant = variant %}
            {% else %}
                {% assign productOrVariant = product %}
            {% endif %}
            {% if settings.show_prices_with_taxes %}
                {% assign price = productOrVariant.price_with_tax %}
                {% include 'bootstrap-migration/product/price/static' %}
                {% assign price_name = 'actualPriceWithTax' %}
                {% include 'bootstrap-migration/product/price/dynamic' %}
            {% else %}
                {% assign price = productOrVariant.price %}
                {% include 'bootstrap-migration/product/price/static' %}
                {% assign price_name = 'actualPrice' %}
                {% include 'bootstrap-migration/product/price/dynamic' %}
            {% endif %}
        </span>
        {% if show_each %}
            <span class="font-weight-normal">/ each</span>
        {% endif %}
    </div>
</div>
