.list-inline.list-divider {
  > li:not(:last-child) {
    margin-right: 0;
  }
  > li:not(:first-child)::before {
    content: '\FF5C'; // 1px width full height vertical line
    opacity: (1/3);
  }
}

.text-condensed {
  font-family: $font-family-condensed !important;
}

.text-helvetica {
  font-family: $font-family-sans-serif !important;
}

.h2,
.h3,
.h4,
h2,
h3,
h4 {
  text-transform: uppercase;
}
