<div class="row">
    <div class="col-12">
        <form class="form-inline mb-3">
            {% include 'bootstrap-migration/collection/nav/views' %}
            {% include 'bootstrap-migration/collection/nav/page-size' %}
            {% if position == 'top' %}
                {% include 'bootstrap-migration/collection/nav/sorting' %}
            {% endif %}
        </form>
    </div>
</div>
