{% layout settings.customer_layout %}
<main class="main">
    <aside class="container">
        <vc-account-manager base-url="baseUrl" customer="customer"></vc-account-manager>
    </aside>
</main>


