
<dl class="dl-horizontal" ng-controller="configurableProductCardController" ng-init="initProductConfiguration('{{product.id}}')">
    <dt class="text-normal">
        <span class="product-pull-left">
                {% if customer %}
                {{ 'products.price.private' | t }}
            {% else %}
                {{ 'products.price.public' | t }}
            {% endif %}
        </span>
    </dt>

    <dd>
        <span class="product-pull-right">
        <strong ng-bind="getDefaultPrice()"></strong>
        <!-- TODO: Replace with product unit -->
        <span class="price-unit">/ each</span>
        </span>
    </dd>
</dl>
