{% include 'product/type/common/product-title-info' %}
<div class="row flexible">
    <div class="col-md-3">
        {% include 'product/image' %}
        {% include 'product/compare' %}
        {% include 'product/product-compare-list-bar' %}
    </div>

    <div class="col-md-6">
        {% if product.properties.size > 0 %}
            {% include 'product/type/common/product-properties' %}
            {% include 'product/type/common/product-description' %}
        {% endif %}
        {% include 'product/product-configuration-list' %}
    </div>

    <div class="col-md-3">

        <div class="panel panel-default price-panel">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-md-12">
                        <span class="h4">Price & delivery</span>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <div class="price-block">

                    <dl class="dl-horizontal">
                        <dt class="text-normal overflow-visible">
                            <span class="product-pull-left">
                                <span class="text-default-color">Default price</span>
                            </span>
                        </dt>

                        <dd>
                            <span class="product-pull-right text-normal text-default-color">
                                <span ng-bind="getDefaultPrice()"></span>
                            </span>
                        </dd>

                        <dt class="text-normal overflow-visible">
                            <span class="product-pull-left">
                                <span class="text-default-color">Custom changes</span>
                            </span>
                        </dt>

                        <dd>
                            <span class="product-pull-right text-normal text-default-color">
                                <span ng-bind="getCustomChangesTotal()"></span>
                            </span>
                        </dd>

                        <br>

                        <dt class="text-normal overflow-visible">
                            <span class="product-pull-left">
                                <span class="text-default-color text-bold">Total</span>
                            </span>
                        </dt>

                        <dd>
                            <span class="product-pull-right">
                                <span ng-bind="getCurrentTotal()"></span>
                            </span>
                        </dd>
                    </dl>

                </div>

                {% include 'product/type/common/product-delivery' %}
                {% include 'product/type/common/product-action-buttons' %}

                <div>
                    <vc-shipping-type is-dropdown="false" pickup-method-code="{{ settings.pickup_shipping_method }}"></vc-shipping-type>
                </div>
            </div>
        </div>
    </div>

    {% include 'product/type/common/related-products' %}

</div>
