@import "mixins/custom/_grid-framework.scss";
@import "mixins/custom/_grid.scss";
@import "mixins/custom/_buttons.scss";
@import "mixins/custom/_button-groups.scss";
@import "mixins/custom/_navbar.scss";

@import "custom/_grid.scss";
@import "custom/_type.scss";
@import "custom/_scaffolding.scss";
@import "custom/_breadcrumb.scss";
@import "custom/_labels.scss";
@import "custom/_tables.scss";
@import "custom/_dropdowns.scss";
@import "custom/_buttons.scss";
@import "custom/_button-groups.scss";
@import "custom/_forms.scss";
@import "custom/_input-groups.scss";
@import "custom/_checkboxes.scss";
@import "custom/_panels.scss";
@import "custom/_navbar.scss";
@import "custom/_navs.scss";
@import "custom/_popover.scss";
@import "custom/_code.scss";
@import "custom/_responsive-utilities.scss";
@import "custom/_toc.scss";
@import "custom/_icon.scss";
@import "custom/_category-page.scss";
@import "custom/_product-card.scss";
@import "custom/_modals.scss";

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
}

header {
  .navbar-default {
    border-color: $brand-primary;
    border-width: 4px 0 0 0;
    position: relative;
    z-index: 9999;
  }
}

footer {
  flex: 0 0 auto;
}

#all-products-popover + .popover {
  width: 480px;
}

#bulk-order-popover + .popover {
  width: 305px;
}

main {
  padding-top: $navbar-margin-bottom;
  position: relative;
  flex: 1 0 auto;

  @media (max-width: $screen-sm-max) {
    .navbar-fixed-top + .navbar-fixed-top + & {
      margin-top: ($navbar-height + 1px) * 2 + $navbar-margin-bottom; // 1px border
    }

    .navbar-fixed-top + .navbar-fixed-top + .navbar-fixed-top:not(.ng-hide) + & {
      margin-top: ($navbar-height + 1px) * 3 + $navbar-margin-bottom; // 1px border
    }
  }

  padding-bottom: $navbar-margin-top;
}

.mobile-app {
  width: 120px;
}

.btn-youtube {
  @include btn-social(#e52d27);
}

.ng-submitted input.ng-invalid.ng-invalid-required,
.ng-submitted input.ng-invalid.ng-invalid-email,
.ng-submitted input.ng-invalid.ng-invalid-pattern   {
  border-color: #883333;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.btn-marging-right {
  margin-right: 13px;
}


//Dashboard

.arrow-padding-left {
  padding-left: 10px;
}

.spend-report-body {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.spend-report-card {
  display: flex;
  flex-direction: column;
}

.user-roles-card {
  display: flex;
  align-items: flex-start;
  margin-bottom: 10px;
}

.user-roles-card-body {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  font-family: $font-family-sans-serif;
  .title {
    line-height: $line-height-base;
  }
  .description {
    color: $gray-roles-description;
    font-size: $font-size-small;
  }
}

.no-permission {
  background: url('../../images/dashboard-placeholder-bg.png') right no-repeat;
  padding: 60px;
  display: flex;
  align-items: center;
    .message {
      width: 179px;
      margin-left: 35px;
      font-family: $font-family-sans-serif;
      color: $gray-no-permission;
      font-weight: bold;
    }
}

.user-inactive {
  color: $gray-user-inactive;
}


.modal-flex-footer {
    display: flex;
    padding: 15px;
    justify-content: space-between;
    border-top: 1px solid $modal-footer-border-color;
}

.modal-header.configuration {
    background-color: $gray-striped-table;
    border-top-left-radius: $panel-border-radius;
    border-top-right-radius: $panel-border-radius;
}

.modal-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;

    button.close {
        font-size: 35px;
    }

    &:before, &:after {
        display: none;
    }
}

// Index page

.credentials-block {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: $font-family-sans-serif;
    .credentials-block-text {
       font-size: $font-size-small;
       margin-left: 14px;
    }
    .credentials-block-link {
        font-weight: bold;
        color: $brand-alt;
    }
}

// For grid raw stripped view. Ex. on the 'select payment method' dialog
.raw-striped:nth-of-type(odd) {
    background-color: $gray-striped-table;
}

// Add to cart modal

.add-cart-item-total {
    height: 40px;
}

.dialog-data-item:not(:last-child) {
    border-bottom: 1px solid $gray-lighter;
}

// Totals block

.fee-margin-bottom {
    margin-bottom: 5px;
}
