<a id="addToWishlist" class="text-condensed font-weight-bold" href="" ng-init='$ctrl.lists = {{ settings.lists | json }}' ng-show="$ctrl.customer.isRegisteredUser" ng-disabled="$ctrl.buttonInvalid" ng-click="$ctrl.addProductToWishlist()">
    <span class="fa fa-plus text-gray-300"></span>
    <span>{{ 'products.list.add_to_myList' | t }}</span>
</a>
