<div class="action-buttons">
    <ul class="list-inline">
        <li>
            <add-to-list-button selected-variation="selectedVariation"></add-to-list-button>
        </li>
        <li>
            <a class="envelope" href="" ng-click="sendToEmail('{{ shop.id }}', '{{ product.id }}', '{{ product.url | absolute_url }}', '{{ current_language.culture_name }}')">Email</a>
        </li>
        <li class="print">
            {% include 'shared/print' %}
        </li>
    </ul>
</div>
