<li ng-class="{'active': isBulkOrderFormOpen}" class="d-inline-block navbar-text py-0">
    <a id="bulk-order-popover" href="" class="text-uppercase d-block p-3 text-condensed" popover-class="rounded-0 mt-0 hide-arrow" uib-popover-template="'bulk-order-popover.tpl'" popover-placement="bottom" popover-is-open="isBulkOrderFormOpen">
        {{ 'bulk_order.general.title' | t }}&ensp;<i class="fa fa-angle-down"></i>
    </a>
    <script id="bulk-order-popover.tpl" type="text/ng-template">
        {% include 'bootstrap-migration/dashboard/bulk-order-content' %}
    </script>
</li>
