<div class="custom-control custom-checkbox my-2"
     ng-click="$ctrl.addProductToCompareList($event);">
    <input type="checkbox"
           class="custom-control-input"
           title="Compare"
           ng-checked="$ctrl.containProduct">
    <label class="custom-control-label">
        Compare
    </label>
</div>
