<div class="custom-control custom-checkbox my-2">
    <input type="checkbox" class="custom-control-input" id="compareCheckbox" title="Compare" ng-click="$ctrl.addProductToCompareList($event);" ng-checked="$ctrl.containProduct">
    <label class="custom-control-label" for="compareCheckbox">
        Compare
    </label>
</div>
