<li class="nav-item">
    <a class="text-uppercase nav-link p-3 text-condensed text-white" href="{{ 'cart' | absolute_url }}" ng-controller="cartBarController">
        <i class="fa fa-shopping-cart" aria-hidden="true"></i>&ensp;{{ 'layout.cart.cart' | t }}&nbsp;<span ng-if="cartItemsCount > 0" ng-cloak>(<span ng-bind="cartItemsCount"></span>)</span>
    </a>
</li>
