<div class="container-fluid bg-dark text-white d-flex flex-column align-items-center p-3">
    <span>&copy; {{ 'now' | date: "yyyy" }} {{ settings.copyright }}</span>
    <span>{{ powered_by shop.name }}</span>
</div>
