<div ng-init="init('{{ shop.id }}')">
    <h3>{{ 'customer.edit_company_member.title' | t: '{{$ctrl.member.fullName}}' }}</h3>

    <div ng-show="$ctrl.member">
        <vc-member-detail member="$ctrl.member" member-component="$ctrl.memberComponent" fields-config="$ctrl.fieldsConfig"></vc-member-detail>
    </div>

    <a ui-sref="members.list({pageNumber: $ctrl.pageNumber})" class="btn btn-dark mr-2">
        {{ 'customer.edit_company_member.return_text' | t }}
    </a>
    <button ng-click="$ctrl.submitMember()" ng-disabled="$ctrl.loader.isLoading" class="btn btn-primary">
        {{ 'customer.edit_company_member.btn_update' | t }}
    </button>
</div>
