<div class="card">
    <div class="card-header">
        <span class="h4">{{ 'customer.dashboard.orders_status' | t }}</span>
    </div>
    <div class="card-body">
        <div class="d-flex justify-content-around align-items-center">
            <div class="d-flex flex-column text-center">
                <span class="h4 my-2 font-weight-normal text-capitalize">Unpaid</span>
                <span class="h2 mb-2 text-dark-green" ng-bind="$ctrl.statusStats['Unpaid']"></span>
            </div>
            <div class="d-flex flex-column text-center">
                <span class="h4 my-2 font-weight-normal text-capitalize">Paid</span>
                <span class="h2 mb-2" ng-bind="$ctrl.statusStats['Paid']"></span>
            </div>
            <div class="d-flex flex-column text-center">
                <span class="h4 my-2 font-weight-normal text-capitalize">Completed</span>
                <span class="h2 mb-2 text-primary" ng-bind="$ctrl.statusStats['Completed']"></span>
            </div>
        </div>
    </div>
</div>

