<div class="row">
    <div class="col-md-8">
        <div class="row">
            <div class="col-md-12">
                <vc-account-last-orders-list></vc-account-last-orders-list>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                {% include 'dashboard/monthly-spend-report' %}
            </div>
            <div class="col-md-6">
                <vc-account-orders-status-stats></vc-account-orders-status-stats>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        {% include 'dashboard/bulk-order-content' %}
    </div>
</div>
<div class="row">
    <div class="col-md-8" va-permission="storefront:organization:edit">
        <vc-dashboard-user-list></vc-dashboard-user-list>
    </div>
    <div class="col-md-4">
        <vc-dashboard-user-roles-list></vc-dashboard-user-roles-list>
    </div>
</div>
