<div class="row">
    <div class="col-md-8" style="outline: 1px solid black;">
        <div class="row" style="outline: 1px solid black;">
            <div class="col-md-12">
                Last orders
            </div>
        </div>
        <div class="row">
            <div class="col-md-6" style="outline: 1px solid black;">Monthly spend report</div>
            <div class="col-md-6" style="outline: 1px solid black;">Order Status</div>
        </div>
    </div>
    <div class="col-md-4">
        {% include 'dashboard/bulk-order-content' %}
    </div>
</div>
<div class="row">
    <div class="col-md-8" style="outline: 1px solid black;">Users</div>
    <div class="col-md-4" style="outline: 1px solid black;">User Roles</div>
</div>
