<div class="row">
    <div class="col-md-8">
        <div class="row">
            <div class="col-md-12">
                <vc-account-last-orders-list></vc-account-last-orders-list>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6" style="outline: 1px solid black;">Monthly spend report</div>
            <div class="col-md-6" style="outline: 1px solid black;">Order Status</div>
        </div>
    </div>
    <div class="col-md-4">
        {% include 'dashboard/bulk-order-content' %}
    </div>
</div>
<div class="row">
    <div class="col-md-8" style="outline: 1px solid black;">Users</div>
    <div class="col-md-4" style="outline: 1px solid black;">User Roles</div>
</div>
