<div class="panel panel-default">
    <div class="panel-heading">
        <div class="row">
            <div class="col-md-12">
                <span class="h4">{{ 'customer.dashboard.current_user_roles' | t }}</span>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <div ng-repeat="role in $ctrl.distinctRoles" class="user-roles-card">
            <img src="{{ 'user-circle.svg' | asset_url }}" />
            <div class="user-roles-card-body">
                <span ng-bind="role.name" class="title h5 margin-0"></span>
                <span ng-bind="role.description" class="description"></span>
            </div>
        </div>
    </div>
</div>






