<div class="form-group ml-auto">
    <label class="mr-3">
        {{ 'collections.sorting.title' | t }}
    </label>
    <div uib-dropdown
         ng-init="$collection.sortMode = '{{ current_product_search_criteria.sort_by | default: collection.default_sort_by | escape }}'">
        <a id="sort"
           class="btn btn-outline-dark"
           href=""
           uib-dropdown-toggle>
            {% raw %}
                <span class="mr-1">{{ $collection.sortModes[$collection.sortMode] | translate }}</span>
            {% endraw %}
            <span class="fa fa-angle-down font-weight-bold text-primary"></span>
        </a>
        <ul class="dropdown-menu"
            uib-dropdown-menu
            role="menu"
            aria-labelledby="sort">
            <li ng-repeat="(mode, title) in $collection.sortModes">
                <a vc-query-source="{ sort_by: [mode] }"
                   switchable="false"
                   ng-bind="title | translate">
                </a>
            </li>
        </ul>
    </div>
</div>
