<div class="form-group ml-auto">
    <label class="mr-3">
        {{ 'collections.sorting.title' | t }}
    </label>
    <div uib-dropdown
         ng-init="$collection.sortMode = '{{ current_product_search_criteria.sort_by | default: collection.default_sort_by | escape }}'">
        <a id="sort"
           class="btn btn-outline-dark"
           href=""
           uib-dropdown-toggle>
            {% raw %}
                <span class="mr-1">{{ $collection.sortModes[$collection.sortMode] | translate }}</span>
            {% endraw %}
            <i class="fa fa-angle-down font-weight-bold text-primary" aria-hidden="true"></i>
        </a>
        <div class="dropdown-menu"
             uib-dropdown-menu
             role="menu"
             aria-labelledby="sort">
            <a class="dropdown-item"
               ng-repeat="(mode, title) in $collection.sortModes"
               vc-query-source="{ sort_by: [mode] }"
               switchable="false"
               ng-bind="title | translate">
            </a>
        </div>
    </div>
</div>
