<div class="form-group">
    <ul class="nav nav-pills"
        vc-query-target="$collection.viewQuery">
        <li class="nav-item">
            <a class="nav-link font-weight-bold"
               ng-class="{'active': $collection.viewQuery.view[0] === 'list'}"
               title="{{ 'collections.general.list_view' | t }}"
               vc-query-source="{ view: ['list'] }"
               switchable="false">
                <i class="fa fa-list-ul"></i>
                <span class="ml-2">{{ 'collections.general.list_view' | t }}</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link font-weight-bold"
               ng-class="{'active': $collection.viewQuery.view[0] === 'grid'}"
               title="{{ 'collections.general.grid_view' | t }}"
               c-query-source="{ view: ['grid'] }"
               switchable="false">
                <i class="fa fa-th"></i>
                <span class="ml-2">{{ 'collections.general.grid_view' | t }}</span>
            </a>
        </li>
    </ul>
</div>
