<div ng-if="filters.terms"
     class="card mb-3">
    <div class="card-header border-bottom-0 d-flex justify-content-between">
        <h4 class="card-title d-inline-block mb-0">
            {{ 'collections.filters.applied_filters' | t }}
        </h4>
        <a class="text-condensed"
           vc-query-source="{ terms: null }">
            {{ 'layout.general.clear_all' | t }}
        </a>
    </div>
    <div class="card-body">
        <h5 ng-repeat-start="term in filters.terms | toArray: true | orderBy: '$key'"
            ng-bind="adaptFilterName(term.$key)">
        </h5>
        <ul class="list-unstyled mb-0"
            ng-repeat-end>
            <li ng-repeat="value in term">
                <a vc-query-source="{ terms: { [term.$key]: [value] } }"
                   switchable="true">
                    <i class="fa fa-times-circle" aria-hidden="true"></i>
                </a>
                <span class="ml-1" ng-bind="adaptFilterValue(term.$key, value)"></span>
            </li>
        </ul>
    </div>
</div>
