<div class="card mb-3">
    <div class="card-header">
        <h4 class="card-title mb-0">{{ 'collections.sidebar.filter_by' | t }}</h4>
    </div>
    <div class="card-body">
        <form>
            <p>{{ 'collections.sidebar.search_within' | t }}</p>
            <div class="input-group"
                 vc-enter-source>
                <input class="form-control"
                       type="text"
                       ng-model="$collection.keywordQuery.keyword[0]"
                       vc-query-target="$collection.keywordQuery">
                <span class="input-group-append">
                    <a class="btn btn-dark"
                       vc-query-source="$collection.keywordQuery"
                       switchable="false"
                       vc-enter-target>
                        {{ 'common.go' | t }}
                    </a>
                </span>
            </div>
        </form>
    </div>
</div>
