{% layout 'bootstrap-migration' %}
{% include 'bootstrap-migration/shared/breadcrumb' %}

<main class="container pt-4 pb-5 flex-grow-1" role="main">
  <div class="text-center">
    <h1>{{ 'general.error404.title' | t }}</h1>
    <p>{{ 'general.error404.subtext_html' | t }}</p>
  </div>
</main>
