{% layout 'bootstrap-migration' %}
<main class="container pt-4 pb-5 flex-grow-1 text-center" role="main">
    <h1>Locked out</h1>
    <p>This account has been locked out, please try again later.</p>
</main>
