{% assign respond_js_secret_key = shop.url | md5 %}
{% assign search = current_product_search_criteria %}

{% assign search_results = product_search_result.products %}

<main class="main flex-grow-1" role="main">
    <article class="container">
        {% if search and search_results.empty? == false %}
            {% paginator = search_results | paginate settings.product_list_capacity %}
            {% if search_results.size == 0 %}
                <div class="pb-0 my-5">
                    <h2 class="text-center">{{ 'general.search.no_results_html' | t: search.keyword }}</h2>
                </div>
            {% else %}
                <div class="pb-0 my-5">
                    <h2 class="text-center">{{ 'general.search.results_for_html' | t: search.keyword }}</h2>
                </div>
                <div class="row">
                    {% for item in search_results %}
                        {% assign product = item %}
                        {% include 'bootstrap-migration/product/grid-item' %}
                    {% endfor %}
                </div>
            {% endif %}
            {% if paginator.pages > 1 %}
                <div class="d-flex justify-content-center py-5">
                    {% include 'bootstrap-migration/shared/pagination' %}
                </div>
            {% endif %}
        {% else %}
            <div class="pb-0 my-5">
                <h2 class="text-center">{{ 'general.search.no_results_html' | t: search.keyword }}</h2>
            </div>
        {% endif %}
    </article>
</main>

