<div class="delivery-cart mx-3">
    <div ng-controller="purchaseController" ng-init='loadPaymentPlan({{ settings.available_paymentPlans | json }}, "product", "{{ product.id }}")'>
        <p ng-show="shipmentType == 'shipping' && shipmentAddress">Expected to arrive: <strong ng-bind="availability['{{ product.id }}'].expectedArrival | date: 'fullDate'"></strong></p>
        <p ng-show="shipmentType == 'pickup' && shipmentFulfillmentCenter">Available for pickup: <strong ng-bind="availability['{{ product.id }}'].availableSince | date: 'fullDate'"></strong></p>
        <div class="form-group">
            {% if product.product_type == "Configurable" %}
                {% include 'bootstrap-migration/product/type/configured/quantity' %}
            {% else %}
                <ng-controller ng-controller="commonProductCardController">
                    {% include 'bootstrap-migration/product/quantity' %}
                </ng-controller>
            {% endif %}
        </div>
    </div>
</div>
