<div class="border-top pt-3">
    <ul class="list-inline px-3 mb-0">
        <li class="list-inline-item" ng-hide="!customer.isRegisteredUser">
            <add-to-list-button-migration selected-variation="selectedVariation"></add-to-list-button-migration>
        </li>
        <li ng-controller="commonProductCardController" class="list-inline-item">
            <a class="text-condensed font-weight-bold" href="" ng-click="sendToEmail('{{ shop.id }}', '{{ product.id }}', '{{ product.url | absolute_url }}', '{{ current_language.culture_name }}')"><i class="fa fa-envelope mr-1 text-gray-300" aria-hidden="true"></i>Email</a>
        </li>
        <li class="print list-inline-item">
            {% include 'bootstrap-migration/shared/print' %}
        </li>
    </ul>
</div>
