{% unless current_collection %}
    {% assign current_collection = collection %}
{% endunless %}

<!-- TODO: Badges -->

{% assign unavailable = false %}
{% assign sold_out = false %}

{% if product.buyable and product.in_stock != true %}
    {% assign sold_out = true %}
{% endif %}

{% if product.buyable != true  %}
    {% assign unavailable = true %}
{% endif %}

<div class="col-md-3 flexible product-card">
    {% include 'shared/item-response-group' %}
    {% include 'product/item/image' %}
    {% include 'product/compare' %}
    {% include 'product/item/title-and-codes' %}

    {% if product.product_type == "Configurable" %}
        {% include 'product/type/configured/item-price' %}
        {% include 'product/type/configured/item-configure-button' %}
    {% else %}
        <div ng-controller="commonProductCardController">
            {% include 'product/price' %}
            {% include 'product/quantity' %}
        </div>
    {% endif %}

</div>

{% include 'product/item/script' %}
