
<dl class="dl-horizontal">
    <dt class="text-normal">
        <span class="product-pull-left">
            {% if customer %}
                {{ 'products.price.private' | t }}
            {% else %}
                {{ 'products.price.public' | t }}
            {% endif %}
        </span>
    </dt>

    <dd>
        <span class="product-pull-right">
            {% if variant != null %}
                {% assign productOrVariant = variant %}
            {% else %}
                {% assign productOrVariant = product %}
            {% endif %}
            {% if settings.show_prices_with_taxes %}
                {% assign price = productOrVariant.price_with_tax %}
                {% include 'product/price/static' %}
                {% assign price_name = 'actualPriceWithTax' %}
                {% include 'product/price/dynamic' %}
            {% else %}
                {% assign price = productOrVariant.price %}
                {% include 'product/price/static' %}
                {% assign price_name = 'actualPrice' %}
                {% include 'product/price/dynamic' %}
            {% endif %}
            <!-- TODO: Replace with product unit -->
            <span class="price-unit">/ each</span>
        </span>
    </dd>
</dl>
