<div class="card mb-3">
    <div class="card-header border-bottom-0 text-condensed font-weight-bold">
        <h4 class="card-title mb-0">{{ 'collections.general.availability' | t }}</h4>
    </div>
    <div class="card-body">
        <div ng-include="$ctrl.fulfillmentCenter ? 'selected-branch' : 'unselected-branch'"></div>
    </div>
</div>

<script type="text/ng-template" id="unselected-branch">
    <a ng-click="$ctrl.selectFulfillmentCenter()">{{ 'collections.general.select_branch_title' | t }}</a>
    {{ 'collections.general.select_branch_description' | t }}
</script>

<script type="text/ng-template" id="selected-branch">
    <form  ng-init="$ctrl.filters =  { terms: { available_in: undefined } }" vc-query-target="$ctrl.filters">
        <div class="mb-2">
            {% raw %}
                <span ng-bind="$ctrl.fulfillmentCenter.name"></span> – <a ng-href="{{$ctrl.baseUrl + '/fulfillmentcenter/' + $ctrl.fulfillmentCenter.id}}" target="_blank"">Info</a> |
                <a href="#" ng-click="$ctrl.selectFulfillmentCenter()">Change</a>
            {% endraw %}
        </div>
        <div class="mb-2">{{ 'collections.sidebar.search_within' | t }}</div>
        <div class="custom-control custom-checkbox"
             ng-click="$ctrl.checkCenter()">
            <input type="checkbox"
                   class="custom-control-input"
                   ng-checked="$ctrl.filters.terms.available_in">
            <a class="custom-control-label d-inline-block text-body"
               vc-query-source="{ terms: { 'available_in': [$ctrl.fulfillmentCenter.id] } }"
               switchable="true">
                In stock now at your branch
            </a>
        </div>
    </form>
</script>
