.product-grid .row .col-xs-12 {
    padding-left: 3px;
}

.product-grid .nav-pills {
  > li > a {
    border-radius: $panel-border-radius !important;
  }
}

/***Bottom nav ***/
.navigation-bottom {
    width: 100%;
    height: 36px;
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.navigation-bottom .row {
    width: 46.7%;
}

/** Product list view ***/

.list-view .img-responsive {
}

.list-view .row {
    padding-top: 35px !important;
}

.list-view .row .row {
    padding-top: 0px !important;
}

// Products

.product-card {
    border: 1px solid $gray-lighter;
    border-radius: 4px;
    margin-right: 20px;
    width: 23%;
    padding-top: 15px;
    padding-bottom: 15px;
    .configurable-wrapper {
        display: flex;
        justify-content: space-between;
        .configurable {
            display: flex;
            justify-content: space-between;
            align-items: center;
            align-self: flex-end;
            margin-bottom: 10px;
        }
        .configure-icon {
            margin-right: 4px;
        }
    }
}

.template-collection .container-drain > .row:not(:last-child) {
    padding-bottom: 5px;
}

.product-card .text-truncate {
    font-weight: bold;
}

/*** Products Grid  ***/

.product-row .dl-horizontal dt {
    font-weight: bold;
    text-align: left;
    width: 100%;
    margin: 0px;
}

.product-row .dl-horizontal dd {
    margin: 0px;
    text-align: left;
    width: 100%;
}

.product-row .product-pull-left {
    width: 100%;
    clear: both !important;
    text-align: left;
}

.product-row .product-pull-right {
    width: 100%;
    clear: both !important;
    text-align: left;
}

.product-row .col-md-5 {
    margin-top: 45px;
}

.product-row .checkbox {
    margin-left: 5px;
}
