.panel {
    margin-bottom: 15px;
    border: 1px solid $gray-light;
    box-shadow: none;
}

.panel h4 {
    font-size: 20px;
}

.panel-body {
    padding: 15px;
}

.panel-group {
    .panel-static {
        border-radius: 0;

        &:first-child {
            border-top-left-radius: $panel-border-radius;
            border-top-right-radius: $panel-border-radius;
        }

        &:last-child {
            border-bottom-left-radius: $panel-border-radius;
            border-bottom-right-radius: $panel-border-radius;
        }
    }

    .panel-static + .panel-static {
        border-top-width: 0;
        margin-top: 0;
    }
}

.sidebar .panel-group {
    .panel-static {
        border-radius: 4px;
    }

    .panel-static + .panel-static {
        border-top-width: 1px;
    }
}

.panel-heading {
    font-family: $panel-heading-font-family;
    font-weight: $panel-heading-font-weight;
    text-transform: uppercase;
    .info {
        font-weight: normal;
    }
}

.panel-title {
    > a,
    > small > a,
    > .small > a {
        &:hover {
            border-bottom-color: inherit;
        }

        &:focus:not(:hover) {
            border-bottom-color: transparent;
        }
    }
}

.panel-body {
    > uib-accordion-heading + *,
    > *:first-child {
        margin-top: 0;
    }

    > *:last-child {
        margin-bottom: 0;
    }
}

.panel-group .panel-default {
    margin-bottom: 22px;
}

.sidebar .panel h4 {
    font-size: 16px;
    font-weight: 700;
}

.sidebar .panel .fa-chevron-down {
    font-size: 15px;
    font-weight: 400;
}

.accordion-toggle .ng-binding {
    font-weight: bold;
}

.panel-default table{
    border-left: 0px solid  $gray-lighter;
    border-bottom: 0px solid  $gray-lighter;
    border-right: 1px solid #ffffff;
}

h4.panel-title a{
     font-family: $font-family-condensed !important;
}

.panel-striped:nth-of-type(odd) {
    background-color: $gray-striped-table;
}
