<a href="{{ product_url | append: '?resp_group=' | append: response_group }}">
    <button class="btn btn-outline-primary border-1 rounded-0 d-block w-100"
    {% if unavailable or sold_out %} disabled {% endif %}
    title="Configure product">
        {% if unavailable %}
            {{ 'products.product.unavailable' | t }}
        {% elsif sold_out %}
            {{ 'products.product.sold_out' | t }}
        {% else %}
            <img class="img-responsive configure-icon"
                 src="{{ 'customize.svg' | asset_url }}"
                 alt="" />
            <span>Configure</span>
        {% endif %}
    </button>
</a>
