{% if settings.favicon_enable %}
    <link rel="shortcut icon" href="{{ 'favicon.png' | asset_url }}" type="image/png" />
{% endif %}
<title>
    {% assign last_segment = request_url | split "/" | last %}

    {% if last_segment == "account" %}
        Virto Commerce Demo B2B My Account
    {% elsif last_segment == "cart" %}
        Virto Commerce Demo B2B Cart
    {% else %}
        Virto Commerce Demo B2B Online Shopping for
        {%if page_title.empty? == true %}
            you
        {% else %}
            {{ page_title }}
        {% endif %}
    {% endif %}

    {% unless page_title contains shop.name %}
     - {{ shop.name }}
    {% endunless %}
</title>
{% if page_description %}
    <meta name="description" content="{{ page_description | escape }}" />
{% endif %}
