{% include 'product/type/common/product-title-info' %}
<div class="row flexible">
    <div class="col-md-3">
        {% include 'product/image' %}
        {% include 'product/compare' %}
        {% include 'product/product-compare-list-bar' %}
    </div>

    <div class="col-md-6">
        {% if product.properties.size > 0 %}
            {% include 'product/type/common/product-properties' %}
            {% include 'product/type/common/product-description' %}
        {% endif %}
    </div>

    <div class="col-md-3" ng-controller="priceController">

        <div class="panel panel-default price-panel">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-md-12">
                        <span class="h4">Price & delivery</span>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <div class="price-block">
                  {% assign product = product %}
                  {% include 'product/price' %}
                </div>

                {% include 'product/type/common/product-delivery' %}
                {% include 'product/type/common/product-action-buttons' %}

            </div>
        </div>
    </div>

    {% include 'product/type/common/related-products' %}

</div>
