<nav class="navbar-dark bg-gray-900" role="navigation">
    <div class="container">
        <div class="row">
            {% include 'bootstrap-migration/main/header/nav/top-level-collections' %}
            <div class="flex-grow-1">
                {% include 'bootstrap-migration/shared/search-bar' %}
            </div>
            <ul class="list-inline m-0">
                {% if template != 'bulk-order' %}
                    {% assign dropdown = true %}
                    {% include 'bootstrap-migration/main/header/nav/bulk-order-form' %}
                {% endif %}
                {% include 'bootstrap-migration/main/header/shared/cart' %}
            </ul>
        </div>
    </div>
</nav>
