<nav class="navbar navbar-inverse-light p-0" role="navigation">
    <div class="container">
        {% include 'bootstrap-migration/main/header/nav/top-level-collections' %}
        <ul class="nav navbar-nav navbar-right">
            {% if template != 'bulk-order' %}
                {% assign dropdown = true %}
                {% include 'bootstrap-migration/main/header/nav/bulk-order-form' %}
            {% endif %}
            {% include 'bootstrap-migration/main/header/shared/cart' %}
        </ul>
        {% include 'bootstrap-migration/shared/search-bar' %}
    </div>
</nav>
