{% include 'bootstrap-migration/shared/item-response-group' %}
{% assign response_group = default_product_search_resp_group | plus: item_resp_group_variations | plus: item_resp_group_item_properties | plus: item_resp_group_item_editorial_reviews %}
<div ng-if="!loader.isLoading"
     ng-init="responseGroup = '{{ '?resp_group=' | append: response_group }}'"
     class="related-products">
    <div class="row row-no-gutters d-flex align-items-center text-center mx-n4">
        <div class="col-1 px-0 pb-5">
            <button class="btn btn-alt btn-primary px-3 py-0"
                    ng-click="$ctrl.prev()"
                    ng-disabled="$ctrl.data.item.count <= $ctrl.data.page.size">
              <i class="fa fa-angle-left fa-2x mr-1" aria-hidden="true"></i>
            </button>
        </div>
        <div class="col-10 px-0">
            <div class="owl-carousel owl-theme"
                 ng-class="{ 'owl-hidden': !$ctrl.ready }">
              <div class="m-3" ng-repeat="product in $ctrl.products">
                  <a class="unstyled" href="{% raw %}{{ $ctrl.getUrl(product.url + responseGroup) }}{% endraw %}">
                      <img ng-if="product.primaryImage.url"
                           class="img-responsive img-thumbnail mx-auto my-3 p-3"
                           ng-class="'img-' + $ctrl.imageSize"
                           ng-src="{% raw %}{{ product.primaryImage.url | imgurl: '308x308' }}{% endraw %}"
                           fallback-src="{% raw %}{{ product.primaryImage.url }}{% endraw %}"
                           alt="product.primaryImage.alt"/>
                      <img ng-if="!product.primaryImage.url"
                           class="img-responsive img-thumbnail mx-auto my-3 p-3"
                           ng-class="'img-' + $ctrl.imageSize"
                           alt="No image"
                           src="{{ 'no-image.svg' | asset_url }}" />
                  </a>
                  <a class="text-truncate" href="{% raw %}{{ $ctrl.getUrl(product.url + responseGroup) }}{% endraw %}"><strong ng-bind="product.title"></strong></a>
                  <strong class="text-success" ng-bind="product.price.actualPrice.formattedAmount"></strong>
                  <span class="price-unit">/ each</span>
              </div>
            </div>
        </div>
        <div class="col-1 px-0 pb-5">
            <button class="btn btn-alt btn-primary px-3 py-0"
                    ng-click="$ctrl.next()"
                    ng-disabled="$ctrl.data.item.count <= $ctrl.data.page.size">
              <i class="fa fa-angle-right fa-2x ml-1" aria-hidden="true"></i>
            </button>
        </div>
    </div>
</div>
